html,body{
	width:100%; 
	height:100%;
	background: #fff;
}
*{
	margin:0;
	text-decoration:none;
	font-family:'Arial', sans-serif;
}
h2, h3 {
	text-align: center;
}
h2 {
	color: #FF7F00; 
	padding: 7px;
	font-size: 32px;
	font-weight: normal
}
h3 {
	font-size: 24px;
	font-weight: normal;
	color: #3B3B3B
}
h3 a {
	font-size: 18px;
	color: #104E8B;
	text-transform: uppercase;
}
h3 a:hover {
	color: #FF7F00
}
.c,.c5,.c10 {
	clear: both;
}
.c5 {
	height: 5px;
}
.c10 {
	height: 10px;
}
a {
	text-decoration: none; 
	color:#104E8B 
}
a:hover {
	text-decoration: none; 
	color:#FF7F00 
}
.top {
	display: block;
	min-height: 25px;
	padding: 10px 0px;
	width: 100%;
	background: #36648B;
  	border-bottom: 1px solid #e2e2e2;
  	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
}
.top h3 {
	padding:0px 10px;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 16px;
	color: #f5f5f5
}
.top i {
	font-size: 30px;
	color: #EE7600;
}

.icon {
	width: 150px;
}
.menu {
	display:block; 
    position: relative;
    display: inline-block;
	width: 100%; 
	height: 50px; 
	background: #BCD2EE;
}
.menu ul{
    position: relative;
    display: inline-block;
	list-style: none; 
	margin:0; 
	padding: 0; 
	width: 100%;
	margin: auto;
}
.menu ul li {
	padding: 10px 10px; 
	float: left
}
.menu ul li:hover {
	cursor:pointer;
}
.menu ul li a { 
	color: #36648B; 
	font-weight: bold;
	padding: 10px;
}
.menu ul li ul {
	display: none;
    position: absolute;
    z-index: 1;
}
.menu ul li:hover a {
	color:#FF7F00 
}
.menu ul li:hover ul {
	display: block;
	width: 200px;
	background: #333;
	padding-top: 12px; 
}
.menu ul li:hover ul li {
	width: 200px;
	background: #555;
}
.menu ul li:hover ul li:hover a {
	color:#fff;
}
.menu ul li:hover ul li:hover {
	cursor: pointer;
}
.menu i {
	font-size: 28px;
}
.container {
	display: table; 
	min-width: 980px;
	margin: auto;
	margin-top: 10px;
	min-height: 100%; 
	padding-bottom: 30px; 
}
.sidebar {
	display: block;
	width: 30%;
	min-height: 100px;
	float: left;
	border: 1px solid #d8d8d8;
  	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
}
.content {
	display: block;
	width: 69%;
	float: right;
	min-height: 200px;
}
.row {
	display: block;
	width: 100%;
	min-height: 200px;
	margin-bottom: 10px;
}
.box {
	height: 200px;
	width: 32%;
	float: left;
	background: #ECF1EF;
	margin-left: 10px;
	text-align: center;
	position: relative;
	color: #C1CDCD;
}
.box i {
	font-size: 170px;
}
.box p {
	width: 100%;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	position: absolute;
	bottom: 5px;
}
.schedule {
	background: #555;
}
.reservation {
	background: #EEF3E2;
}
table {
	width: 100%;
	border-spacing: 0px;
}
table th{
	text-align: left; 
	padding: 10px; 
	color: #fff;
	background: #708090;
}
table td{
	text-align: left; 
	padding: 10px; 
	background: #fff; 
	border-bottom: 1px solid #ccc;
	vertical-align: top;
}
.btn {
	font-size: 22px; 
	cursor: pointer; 
}
.btn a { 
	color: #FF7F00;
}
.btn a:hover {
	color: #FF8C00;
}
form {
	display: block; 
	width: 100%; 
	margin: auto; 
}
form p {
	padding:10px 0; 
	letter-spacing: 1px; 
	color: #666
}
form input[type='text']{
	width:90%;
	border:1px solid #ccc; 
	height: 25px;
	padding: 10px
}
form input[type='password']{
	width:90%;
	border:1px solid #ccc; 
	height: 25px;
	padding: 10px;
}
form select{
	width:90%;
	border:1px solid #ccc; 
	height: 35px; 
	padding: 7px;
}
form input[type='submit']{
	border: none;
	width:100px; 
	color:#fff; 
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	background:#36648B; 
	min-height: 35px; 
	padding: 10px; 
	cursor: pointer;
	margin-top:10px; 
}
form input[type='submit']:hover {
	background: #4F94CD;
}

form>table{
	width: 100%; 
}
form>table td{
	text-align: left; 
	border-bottom: 1px solid #d8d8d8;
  	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
	background: #fff; 
	color: #666;
	vertical-align: top;
	padding: 5px;
}
.login {
	display:block;
	min-height: 200px;
	width: 100%;
	margin: auto;
}
.login p{
	font-size: 16px;
	letter-spacing: 1px;
	color: #3f3f3f;
}
.login form {
	width: 90%;
}
.login input[type='text']{
	font-color: #666;
	width: 90%;
	padding: 0px 10px;
	font-size: 16px;
	text-align: left;
}
.login input[type='password']{
	font-color: #666;
	width: 90%;
	padding: 0px 10px;
	font-size: 16px;
	text-align: left;
}
.login input[type='submit']{
	font-color: #666;
	width: 100px;
	padding: 0px 10px;
	font-size: 16px;
	text-align: center;

}
.msg {
	text-align: center;
	padding: 10px;
	letter-spacing: 1px;
}
.signup {
	display: block;
	width: 100%;
	height:20px;
	padding: 20px 0;
	background: #ddd;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}
.ops {
	text-align: center;
	padding-top: 20%;
}
.ops h1 {
	font-size: 38px;
	color: #999;
}
.ops i {
	font-size: 100px;
	color: #999;
}