<%-include partial/header%>
<body>
<%-include partial/menu%>
	<div class="container">
		<div class="row">
			<div class="box">
				<i class="fa fa-user-md"></i>
				<p>doctor</p>
			</div>
			<div class="box">
				<i class="fa fa-line-chart"></i>
				<p>reservation</p>
			</div>
			<div class="box">
				<i class="fa fa-bar-chart"></i>
				<p>rating</p>
			</div>
		</div>
		<div class="c10"></div>
		<div class="row schedule">
			<div class="left">
			
			</div>
			<div class="center">
			
			</div>
			<div class="right">
			
			</div>
		</div>
		<div class="c10"></div>
		<div class="row reservation">
			<p>Reservation Date : 12 December 2017</p>
			<table cellpading="0" cellspacing="0">
				<th>Tanggal</th>
				<th>Customer</th>
				<th>Dokter</th>
				<th>Specialist</th>
				<th>Status</th>
			</table>
		</div>
	</div>
</body>
</html>