<div class="menu">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/users">User</a></li>
		<li><a href="/doctors">Doctor</a></li>
		<li><a href="/customers">Customer</a></li>
		<li><a href="/schedules">Schedule</a></li>
		<li><a href="/reservations">Reservation</a></li>
		<li style="float:right"><a href="/logout">Logout</a></li>
	</ul>
</div>
